services/abstract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="info">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="title" type="xs:string"
		    minOccurs="1" maxOccurs="1" />
	<xs:element name="abstract" type="xs:string"
		    minOccurs="1" maxOccurs="1" />
	<xs:element name="link" type="xs:string"
		    minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:integer" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
